---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% capture related_posts %}{{ page.categories  }}{% endcapture %}
{% assign collection = site.categories[related_posts] %}
{% if collection != empty %}
<aside class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
        {% for post in collection limit:4 %}
            {% if page.url != post.url %}
                <li>
                    <h3>
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h3>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</aside>
{% endif %}
